<!DOCTYPE html>
<html>
  {{ partial "head.html" . }}
  <body lang="{{ .Site.LanguageCode }}" class="w-2/5 mx-auto py-10">
    <section id="main">
      <div>
        <h1 id="title" class="font-bold mb-5">{{ .Site.Title }}<span class="title-half">{{ .Site.Params.titleHalf }}</span>
        <span class="tags-header"><a href="/tags"><u>tags</u></a></span>
        </h1>
        {{ if .Site.Params.enableRuleLine }}
        <hr>
        {{ end }}
        {{ $paginator := .Paginator }}
        {{ range $paginator.Pages }}
        <u><a href="{{ .Permalink }}">{{ .Title }}</a></u>&nbsp;&nbsp;
        {{ end }}
      </div>  
    </section>
    {{ if .Site.Params.enableFooter }}
    {{ .Scratch.Set "goto" "main" }}
    {{ partial "footer" . }}
    {{ end }}
  </body>
</html>